:root{
    --primary: #adb5bd;
}

.flexbox{
    display: flex;
    flex-direction: column;
}

.arrows {
 color: var(--primary);
 font-weight: 100px;
 font-size: 50px;
 padding-bottom: 200px;
}

.leftArrow{
    padding-right: 70px;
    padding-bottom: 200px;
}

.rightArrow{
    padding-left: 70px;
    padding-bottom: 200px;
}

.carouselArrowFlex{
    position: absolute;
    width: 100%;
    height: 300px;
}

.carouselText{
    align-self: center;
    width: 85%;
    height: 90%;
    text-align: center;

}