.banner-title{
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 25px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color : white;
    border-radius: 40px 40px 0 0;
}

.banner-title-mobile {
    font-size: 43px;
    font-weight: bold;
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color : white;
    border-radius: 40px;
}